{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ map.title }}{% endblock title %}
{% block description %}{{ map.description|default:_("No description provided") }}{% endblock description %}
{% block og-title %}{{ map.title }}{% endblock og-title %}
{% block og-description %}{{ map.description|default:_("No description provided") }}{% endblock og-description %}

{% block content %}
  <div>
      <div class="clearfix d-flex flex-column flex-sm-row">
        <h1 class="display-5 text-center col-sm"><wbr>{{ map.title }}</h1>
        <a href="#" id="export-csv" class="float-right my-auto btn btn-outline-primary edit-map hidden-print hidden-sm-down">{% trans "CSV" %}</a>
        <a href="#" id="export-geojson" class="float-right my-auto btn btn-outline-primary edit-map hidden-print hidden-sm-down">{% trans "geojson" %}</a>
        {% if request.user.is_superuser %}
          <a href="/admin/core/map/{{ map.id }}/change/" class="float-right my-auto btn btn-outline-primary edit-map hidden-print">{% trans "Edit" %}</a>
        {% endif %}
      </div>
      <div class="row">
          <div class="col-md-12">
              <div id="map"></div>
              <div id="charts" class="mt-4"></div>
          </div>
      </div>
  </div>
{% endblock content %}
{% block script %}
    <script src="{% static 'bower_components/highcharts/highcharts.js' %}"></script>
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=596324fed14c220014c25d99&product=inline-share-buttons' async='async'></script>
    <script>
        let geojson_data = {{ geojson_data|safe }};
        let data_range = {{ data_range|safe }};
        let data;
        let unsorted_data;
        let names;
        let csv_data;
        let i;
        let mapboxAccessToken = 'pk.eyJ1IjoibWtlZGEiLCJhIjoiY2oxeXV0azNpMDAwcTMzdXIxeTVxd29naCJ9.Wd5NP7lDL2j9haPE_OIuLg';
        let map = L.map('map');
        let info = L.control();
        let legend = L.control({ position: 'bottomright' });

        function download(data, filename, type) {
          let file = new Blob([data], {type: type});
          if (window.navigator.msSaveOrOpenBlob) {// IE10+
              window.navigator.msSaveOrOpenBlob(file, filename);
          }
          else { // Others
            let a = document.createElement("a");
            let url = URL.createObjectURL(file);

            a.href = url;
            a.download = filename;
            document.body.appendChild(a);
            a.click();
            setTimeout(function() {
              document.body.removeChild(a);
              window.URL.revokeObjectURL(url);
            }, 0);
          }
        }

        function getColor(d) {
            for (i = data_range.length - 1; i > 0; i--) {
                if (parseFloat(d) > data_range[i][0]) {
                    return '#' + data_range[i][1];
                }
            }
            return '#' + data_range[0][1];
        }

        function style(feature) {
            return {
                fillColor: getColor(feature.properties.density),
                weight: 2,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: '{{ map.opacity }}'
            };
        }

        function highlightFeature(e) {
            let layer = e.target;

            layer.setStyle({
                weight: 2,
                color: '#666',
                dashArray: '',
                fillOpacity: '{{ map.opacity }}'
            });

            if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                layer.bringToFront();
            }

            info.update(layer.feature.properties);
        }

        function resetHighlight(e) {
            geojson.resetStyle(e.target);
            info.update();
        }

        function zoomToFeature(e) {
            if (e.target.feature.properties.path && e.target.feature.properties.density > 0) {
                window.location = e.target.feature.properties.path;
            }
            map.fitBounds(e.target.getBounds());
        }

        function onEachFeature(feature, layer) {
            layer.on({
                mouseover: highlightFeature,
                mouseout: resetHighlight,
                click: zoomToFeature
            });
        }

        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info hidden-print hidden-xs-down'); // create a div with a class "info"
            this.update();
            return this._div;
        };

        // Method that we will use to update the control based on feature properties passed.
        info.update = function (props) {
            this._div.innerHTML = '<h4><wbr>{{ map.title }}</h4>' +  (props ?
                '<b>' + props.name + '</b><br/>' + props.density + ' {{ map.unit }}'
                : 'Hover over a state');
        };

        info.addTo(map);

        legend.onAdd = function (map) {
            let div = L.DomUtil.create('div', 'info legend hidden-xs-down');

            // Loop through our density intervals and generate a label with a colored square for each interval.
            for (i = 0; i < data_range.length; i++) {
                div.innerHTML +=
                    '<i style="background: #' + data_range[i][1] + '; -webkit-print-color-adjust: exact;"></i> ' +
                    parseFloat((data_range[i][0]).toPrecision(2)) + (data_range[i + 1] ? ' &ndash; ' + parseFloat((data_range[i + 1][0]).toPrecision(2)) + '<br>' : '+');
            }

            return div;
        };

        legend.addTo(map);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + mapboxAccessToken, {
            id: 'mapbox.light',
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        }).addTo(map);

        geojson = L.geoJson(geojson_data, {
            style: style,
            onEachFeature: onEachFeature
        }).addTo(map);
        map.fitBounds(geojson.getBounds());

        unsorted_data = [];
        for (i in geojson_data.features) {
          unsorted_data[geojson_data.features[i].properties.name] = geojson_data.features[i].properties.density;
        }
        names = Object.keys(unsorted_data);
        names.sort(function(a, b){return unsorted_data[b] - unsorted_data[a]});
        data = [];
        for (i = 0; i < names.length; i++) {
            data[names[i]] = unsorted_data[names[i]];
        }

        Highcharts.chart('charts', {
            chart: {
                height: 20 * Object.keys(data).length,
                type: 'bar'
            },
            title: {
                text: '{{ map.title }}'
            },
            xAxis: {
                categories: Object.keys(data)
            },
            yAxis: {
                min: data_range[0][0],
                title: {
                    text: '{{ map.title }}'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: '{{ map.unit }}',
                data: Object.keys(data).map(function (key) {
                    return data[key];
                })
            }]
        });

        $('#export-csv').click(function (e) {
          e.preventDefault();
          csv_data = '';
          for (i in data) {
            csv_data += i + ',' + data[i] + '\n';
          }
          download(csv_data, '{{ map.title }}'.charAt(0).toLowerCase() + '{{ map.title }}'.slice(1) + '.csv', 'txt');
        });

        $('#export-geojson').click(function (e) {
          e.preventDefault();
          download(JSON.stringify(geojson_data), '{{ map.title }}'.charAt(0).toLowerCase() + '{{ map.title }}'.slice(1) + '.geojson', 'txt');
        });
    </script>
{% endblock script %}
